<!DOCTYPE html>
<html>
<head>

	<title>Aveda Portland</title>

</head>
<body>
	<h1>Aveda Portland</h1>
	<ul>
	{% for stylist in stylists %}
		<a href="/stylists/{{ stylist.getId }}"><li>{{ stylist.getName }}</li></a>
	{% endfor %}
	</ul>
	<form action="/stylists" method="post">
		<label for='name'>Stylist Name:</label>
		<input name='name' id="name" type='text'>
		<button type="submit"> Add stylist</button>
	</form>
</body>
</html>
