<!DOCTYPE html>
<html>
<head>

	<title>Aveda Portland</title>

</head>
<body>
	<h1>Aveda Portland</h1>
	<h1><a href="/stylists">Check the Stylists</a></h1>
	<h1><a href="/clients">Check the Clients</a></h1>
</body>
</html>